@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@100;200;300;400;500;600;700;800;900&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .parallax {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
  } 
  .intro {
    background-image: url('/img/parallax1.png'); 
  }
  .content {
    background-image: url('/img/parallax2.png');
  }
  .footer {
    background-image: url('/img/parallax3.png');
  }

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    color: white;
    height: 8rem;
}

.navigation a {
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 20px;
    padding: 6px 15px;
}