@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

header.scrolled {
  padding: 10px 40px; /* Mengecilkan padding saat scroll */
  transform: translateY(-10px); /* Menggeser header ke atas */
  background: rgba(255, 255, 255, 0.8); /* Mengubah background agar lebih solid saat scroll */
  }

  header.hide {
      transform: translateY(-100%); /* Menggeser header keluar layar */
      opacity: 0; /* Menyembunyikan header dengan mengurangi opacity */
    }

.logo img {
  width: 50px;
  transition: all 0.3s ease;
}

header.scrolled .logo img {
  width: 40px; /* Mengecilkan ukuran logo saat scroll */
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s, padding 0.3s ease;

}

nav ul li a:hover,
nav ul li a.active {
  color: black;
  background-color: white;
  border: 2px solid white;
  padding: 10px 10%;
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.home {
  height: 100vh;
  background-image: url('parallax1.png');
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content {
  padding: 100px 50px;
  background-color: #000000;
  text-align: center;
}

.footer {
  padding: 20px;
  background-color: #000000;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
